<section>
    <p>Graduating soon with a degree in Computer Systems Engineering, I have over 6 years of programming experience. My
        expertise includes SQL, JavaScript, and Python, and I have led projects ranging from REST API development to
        full web application implementations using modern frameworks. I'm currently expanding my skills in Rust for
        high-performance applications and embedded systems. I am seeking opportunities to apply my knowledge in a
        professional environment, contributing to innovative projects and continuing my development as a developer.</p>
</section>
