---
const {career, school, date} = Astro.props;
---
<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
<time class="mb-1 text-sm font-normal leading-none text-lightblue opacity-70">{date}</time>
<h3>{career}</h3>
<h4 class="text-base font-normal text-[#9ca3af]">{school}</h4>