---

---

<header class="my-8 flex justify-between">
<div>
    <h1 class="text-blue">Daniel Lara</h1>
    <h2>Full Stack Developer</h2>
    <p class="text-lightblue opacity-70">Mexicali, Baja California México</p>
</div>
    <img class="w-[120px] rounded-2xl" src="/images/daniel.jpg">
</header>
